header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'BauhausBold', monospace;
    font-size: 30px;
    color:white;
    background: linear-gradient(50deg, #c00bed,#b61717);
    z-index: 10;
  }
