header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'BauhausBold', monospace;
    font-size: 50px;
    color:beige;
    position: relative;
  }
