main{
    top:0;
    text-align: center;
    margin: 10px;
    padding: 0;
    flex: 1;
} 

.buttonsMain {
    position: relative;
    height: auto;
    width: 150px;
    margin: 15px;
    padding: 15px;
    border-radius: 4px;
    background-color: #151515;
    color: white;
    font-size: 25px;
    transition: ease-in-out 0.3s;
    outline: none;
    border: 3px solid #1d9ce0;
    overflow: hidden;
    z-index: 1;
}

.buttonsMain:hover {
    color: #fff;
    cursor: pointer;
}

.buttonsMain:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    background: linear-gradient(50deg, #fd79ff, #7fcaff );
    transition: 0.5s all ease;
    opacity: 0.5;
    z-index: -1;
}

.buttonsMain:hover:before {
    left: 0;
    right: 0;
    opacity: 1; 
}