* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pllists {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px; 
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    overflow:auto;
    max-height: 90vh; 
    width: 70%; 
}

.pllists::-webkit-scrollbar {
    width: 10px;
}

.pllists::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(to bottom, #fd79ff, #7fcaff);
}

.audio {
    flex: 1 1 calc(33.333% - 20px);
    max-width: 300px; 
    min-width: 200px;
    box-sizing: border-box; 
    background-color: #272727; 
    color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.audio img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.audio h2 {
    font-size: 1.2em;
    margin-top: 10px;
}

.audio p {
    font-size: 0.9em;
    margin-top: 5px;
}

.profbutton {
    position: relative;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    top:-10%;
    left: 45%;
    
}
.profimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profilename {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(50deg, #fd79ff, #7fcaff);
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.profbutton:hover .profilename {
    opacity: 1;
    visibility: visible;
}
