main{
    top:0;
    text-align: center;
    margin: 10px;
    padding: 0;
} 

.buttonsMain{
    margin: 15px;
    padding : 15px;
    border-radius: 15px;
    border: 1px;
    background: linear-gradient(to right, #fd79ff,#7fcaff,#fd79ff);
    background-size: 200%;
    background-position:left;
}
.buttonsMain:hover{
    animation: ButtonGradient 2.5s linear infinite;
}
@keyframes ButtonGradient {
    to{
        background-position: 200%;
    }
}