nav{
    border-radius: 30px;
    margin-right: 5%;
}

.buttonsMain {
    position: relative;
    height: auto;
    width: 150px;
    margin: 15px;
    padding: 15px;
    left: 50px;
    border-radius: 4px;
    background-color: #151515;
    color: white;
    font-size: 25px;
    transition: ease-in-out 0.3s;
    outline: none;
    border: 3px solid;
    z-index: 1;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    overflow: hidden;
    
}

.buttonsMain:hover {
    color: #fff;
    cursor: pointer;
    box-shadow:
        0 0 2.5px #fff,
        0 0 5px #fff,
        0 5px 10px #fff,
        0 5px 15px #7fcaff,
        0 5px 15px #7fcaff,
        0 5px 10px #7fcaff,
        0 5px 15px #7fcaff,
        0 5px 15px #7fcaff,
        0 -5px 10px #fff,
        0 -5px 15px #fd79ff,
        0 -5px 15px #fd79ff,
        0 -5px 10px #fd79ff,
        0 -5px 15px #fd79ff,
        0 -5px 15px #fd79ff;
    transition: 0.6s all ease;
}

.buttonsMain:before {
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    right: -60px;
    width: 30px;
    background: linear-gradient(to bottom, #fd79ff, #7fcaff );
    transition: 1s all ease;
    opacity: 0.5;
    z-index: -1;
    transform: skew(45deg);
}
.buttonsMain:hover:before {
    right: 180px;
    opacity: 1; 
}
.buttonsMain::after{
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    right: -60px;
    width: 30px;
    background: linear-gradient(to bottom, #fd79ff, #7fcaff );
    transition: 1s ease 0.05s;
    filter: brightness(0.6);
    opacity: 0.5;
    z-index: -1;
    transform: skew(45deg);
}
.buttonsMain:hover:after {
    right: 180px;
    opacity: 1; 
}
nav button{
    box-shadow:
        0 0 2.5px #fff,
        0 0 5px #fff,
        0 5px 5px #7fcaff,
        0 5px 10px #7fcaff,
        0 5px 10px #7fcaff,
        0 -5px 5px #fd79ff,
        0 -5px 10px #fd79ff,
        0 -5px 10px #fd79ff;
}