
html::-webkit-scrollbar{
    display: none;
}

.profheader {
    position: relative;
    height: 150px;
    width: 100%;
    display: flex;
    background: linear-gradient(50deg, #faa405, #c8050f); 
    margin: 0;
    padding: 0;
    box-shadow:
        0 0 5px #fff,
        0 0 5px #fff,
        0 0 5px rgb(225, 0, 0),
        0 0 10px rgb(255, 0, 0),
        0 0 5px rgb(252, 0, 227),
        0 0 10px rgb(252, 0, 227),
        0 0 10px rgb(252, 0, 227);
    z-index: 1;
}

.headertext{
    position: relative;
    color: white;
    font-size: 45px;
    text-shadow:
        0 0 5px #fff,
        0 0 5px #fff,
        0 0 5px rgb(0, 140, 205),
        0 0 10px rgb(0, 140, 205),
        0 0 5px rgb(2, 124, 14),
        0 0 10px rgb(2, 124, 14),
        0 0 10px rgb(2, 124, 14);
}

.backhead{
    position: absolute;
    left: 30px;
}

.backnota{
    position: absolute;
    right: 20px;
}

.backhead, .backnota {
    transform: rotate(-20deg) scale(0.33);
}

/*============================================================================*/
.profmain{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('https://media3.giphy.com/media/4cAq3aSaftBAJauSgZ/giphy.gif?cid=6c09b952blnyvo5sjgu8q0v955msjxffmpo0gaja0h6496kt&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maintext {
    height: auto;
    margin-top: 35px;
    text-shadow:
        0 0 5px #fff,
        0 0 5px #fff,
        0 0 5px rgb(161, 4, 96),
        0 0 10px rgb(161, 4, 96),
        0 0 5px rgb(134, 4, 4),
        0 0 10px rgb(134, 4, 4),
        0 0 10px rgb(134, 4, 4);
}

.proflists {
    display: flex;
    justify-content: flex-start;
    gap: 20px; 
    padding: 10px; 
    height: auto; 
    width: 75%; 
    background: transparent; 
    overflow-x: scroll; 
    overflow-y: hidden;
    white-space: nowrap;
    flex-direction: row;
}
.proflists::-webkit-scrollbar {
    height: 10px;
    background: transparent;
}

.proflists::-webkit-scrollbar-thumb {
    background:linear-gradient(to bottom, #fd79ff, #ee3114);
    box-shadow:
        0 0 5px #fff,
        0 0 5px #fff,
        0 0 5px rgb(225, 0, 0),
        0 0 10px rgb(255, 0, 0),
        0 0 5px rgb(252, 0, 227),
        0 0 10px rgb(252, 0, 227),
        0 0 10px rgb(252, 0, 227);
    border-radius: 5px;
    width: 3px;
}

.profaudio {
    background: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    box-shadow:
        0 0 5px #fff,
        0 0 10px #ff1900,
        0 0 10px #ff5100;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.profaudio:hover {
    transform: scale(1.05);
    box-shadow:
        0 0 10px #fff,
        0 0 20px #888;
}

.profaudio img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 50%;
}

.profudio h2 {
    font-size: 10px;
    margin: 10px 0;
    color: #fff;
}

.artnames{
    height: auto;
    margin-top: 40px;
    text-shadow:
        0 0 5px #fff,
        0 0 5px #fff,
        0 0 5px rgb(161, 4, 96),
        0 0 10px rgb(161, 4, 96),
        0 0 5px rgb(215, 148, 4),
        0 0 10px rgb(215, 148, 4),
        0 0 10px rgb(215, 148, 4);
}