.playlists{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    display:none;
}
.sidebarbutton{
    color: white; 
    font-size: 16px;
    border: none;
    cursor: pointer;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    display: inline-block;
    text-align: center;
    text-decoration: none;
    position: fixed;
    left:0;
    top:40%;
    width: 140px;
    transform: translateY(-50%) rotate(90deg);
    transform-origin:bottom left;
}
.sidebarbutton::after{
    content: "";
    background: #151515;
    position:absolute;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    width: 94%;
    height: 94%;
    top:6%;
    right:3%;
    z-index: 2;
}
.sidebarbutton::before{
    content: "";
    background: linear-gradient(0deg,#7fcaff,#fd79ff,#7fcaff);
    position: absolute;
    background-size: 100% 400%;
    width: 100%;
    height: 100%;
    top:0;
    right: 0;
    animation: animate-gradient-border 5s linear infinite;
}
.sidebarbuttonarrow{
    left: 0;
    z-index: 3;
    background: linear-gradient(to right,#7fcaff,#fd79ff,#7fcaff);
    background-size: 200%;
    text-transform: uppercase;
    text-align: center;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    position: relative;
    display: inline-block;
    rotate: -90deg;
    font-size: 40px;
}
@keyframes animate-gradient{
    to{
        background-position: 200%;
    }
}
@keyframes animate-gradient-border {
    0% {
        background-position: 0% 200%;
    }
    50% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 200%;
    }
}
h4{
    color: aliceblue;
    font-family: 'BauhausBold', monospace;
    font-size: 21px;
    margin: 5px;
}
.listbutton {
    height: 100px;
    width: 100px;
    position: relative;
    transition: height 1s, width 1s;
    margin: 5px;
    border-radius: 10px;
}

.listbutton::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    transition: height 1s, width 1s;
}

.listbutton:hover {
    height: 140px;
    width: 140px;
}

